In [3]:
import pandas as pd
from pathlib import Path

# Dossier contenant les fichiers DVF
dvf_dir = Path("C:/Users/AdrienSourdille/Desktop/Fessenheim-Impact/data/raw/DVF")

# Liste tous les fichiers .parquet dans le dossier
files = list(dvf_dir.glob("*.parquet"))

# Charge et concatène tous les fichiers
df = pd.concat([pd.read_parquet(f) for f in files], ignore_index=True)

# Filtre le département 44
df_44 = df[df["code_departement"] == "44"]

In [5]:
df_44.info()

<class 'pandas.core.frame.DataFrame'>
Index: 899750 entries, 1114389 to 35186358
Data columns (total 40 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   id_mutation                   899750 non-null  object
 1   date_mutation                 899750 non-null  object
 2   numero_disposition            899750 non-null  int64
 3   nature_mutation               899750 non-null  object
 4   valeur_fonciere               890720 non-null  float64
 5   adresse_numero                571359 non-null  float64
 6   adresse_suffixe               35673 non-null   object
 7   adresse_nom_voie              889550 non-null  object
 8   adresse_code_voie             889577 non-null  object
 9   code_postal                   889510 non-null  float64
 10  code_commune                  899750 non-null  object
 11  nom_commune                   899750 non-null  object
 12  code_departement              899750 non-null  object
 13  ancien_code_commune           8836 non-null    float64
 14  ancien_nom_commune            8836 non-null    object
 15  id_parcelle                   899750 non-null  object
 16  ancien_id_parcelle            4006 non-null    object
 17  numero_volume                 2482 non-null    object
 18  lot1_numero                   301079 non-null  object
 19  lot1_surface_carrez           73398 non-null   float64
 20  lot2_numero                   63646 non-null   object
 21  lot2_surface_carrez           20568 non-null   float64
 22  lot3_numero                   11896 non-null   object
 23  lot3_surface_carrez           1940 non-null    float64
 24  lot4_numero                   4197 non-null    object
 25  lot4_surface_carrez           485 non-null     float64
 26  lot5_numero                   2128 non-null    object
 27  lot5_surface_carrez           184 non-null     float64
 28  nombre_lots                   899750 non-null  int64
 29  code_type_local               482846 non-null  float64
 30  type_local                    482846 non-null  object
 31  surface_reelle_bati           323113 non-null  float64
 32  nombre_pieces_principales     482275 non-null  float64
 33  code_nature_culture           593278 non-null  object
 34  nature_culture                593278 non-null  object
 35  code_nature_culture_speciale  10111 non-null   object
 36  nature_culture_speciale       10111 non-null   object
 37  surface_terrain               593275 non-null  float64
 38  longitude                     866529 non-null  float64
 39  latitude                      866529 non-null  float64
dtypes: float64(15), int64(2), object(23)
memory usage: 281.4+ MB

In [4]:

display(df_44.head())

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
1114389,2014-461179,2014-01-08,1,Vente,29000.00,7.0,None,AV BASCHER,0568,44000.0,...,Dépendance,NaN,0.0,S,sols,None,None,26.0,-1.545448,47.221956
1114390,2014-461179,2014-01-08,1,Vente,29000.00,7.0,None,AV BASCHER,0568,44000.0,...,Dépendance,NaN,0.0,S,sols,None,None,26.0,-1.545448,47.221956
1114391,2014-461180,2014-01-09,1,Vente en l'état futur d'achèvement,285000.00,29.0,B,RUE DE LA PELLETERIE,6300,44000.0,...,Dépendance,NaN,0.0,None,None,None,None,NaN,NaN,NaN
1114392,2014-461180,2014-01-09,1,Vente en l'état futur d'achèvement,285000.00,29.0,B,RUE DE LA PELLETERIE,6300,44000.0,...,Appartement,65.0,3.0,None,None,None,None,NaN,NaN,NaN
1114393,2014-461181,2014-01-06,1,Vente en l'état futur d'achèvement,251538.46,NaN,None,None,None,NaN,...,None,NaN,NaN,None,None,None,None,NaN,-1.533561,47.216841